@import "bootstrap.less";
@import "variables.less";



/* Template-specific stuff
 *
 * Customizations just for the template; these are not necessary for anything
 * with disabling the responsiveness.
 */

/* Account for fixed navbar */

body,
.navbar-fixed-top,
.navbar-fixed-bottom {
  min-width: 1030px;
}

body.ny {
  background: url("../images/ny-bg.png") top no-repeat #3d0000;
}

/* Don't let the lead text change font-size. */
.lead {
  font-size: 16px;
}

/* Finesse the page header spacing */
.page-header {
  margin-bottom: 30px;
}
.page-header .lead {
  margin-bottom: 10px;
}


/* Non-responsive overrides
 *
 * Utilize the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */
.container {
  width: 1030px;
  max-width: none !important;
}

.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

/* Always float the navbar header */
.navbar-header {
  float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
  visibility: visible !important;
}

.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}

.navbar-brand {
  margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.navbar-default {
  background-color: transparent;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}

/* Undo form expansion */
.navbar-form {
  float: left;
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Copy-pasted from forms.less since we mixin the .form-inline styles. */
.navbar-form .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.navbar-form .form-control-static {
  display: inline-block;
}

.navbar-form .input-group {
  display: inline-table;
  vertical-align: middle;
}

.navbar-form .input-group .input-group-addon,
.navbar-form .input-group .input-group-btn,
.navbar-form .input-group .form-control {
  width: auto;
}

.navbar-form .input-group > .form-control {
  width: 100%;
}

.navbar-form .control-label {
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .radio,
.navbar-form .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .radio label,
.navbar-form .checkbox label {
  padding-left: 0;
}

.navbar-form .radio input[type="radio"],
.navbar-form .checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0;
}

.navbar-form .has-feedback .form-control-feedback {
  top: 0;
}

/* Undo inline form compaction on small screens */
.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.form-inline .form-control-static {
  display: inline-block;
}

.form-inline .input-group {
  display: inline-table;
  vertical-align: middle;
}
.form-inline .input-group .input-group-addon,
.form-inline .input-group .input-group-btn,
.form-inline .input-group .form-control {
  width: auto;
}

.form-inline .input-group > .form-control {
  width: 100%;
}

.form-inline .control-label {
  margin-bottom: 0;
  vertical-align: middle;
}

.form-inline .radio,
.form-inline .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-inline .radio label,
.form-inline .checkbox label {
  padding-left: 0;
}

.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0;
}

.form-inline .has-feedback .form-control-feedback {
  top: 0;
}


header {
  padding-top: 10px;
}
.header-top {
  background:url(../images/bg2.jpg) no-repeat;
  height:172px;
  padding-top:20px;
  border-bottom: 2px solid #93000a;
}
.logo {
  margin-left: 20px;
}
.header_contact {
  margin-top: 30px;
}
.header_contact div, .header_contact span, .header_contact a {
  color: #fff;
}
.header_contact_title {
  font-size: 10px;
  text-transform: uppercase;
}
.header_contact_tel {
  font-size: 22px;
  line-height: 1.25;
}
.header_contact_tel span {
  font-size: 14px;
}
.header_contact_delivery a {
  font-size: 12px;
}
.header-underline {
  padding: 10px 0;
}
.social {
  padding-left: 26px;
  font-size: 12px;
  color: #fff;
  &:hover, &:focus {
    color: #fff;
  }
}
.vk {
  background:url(../images/b-share-icon.png) no-repeat;
  background-position: 0 0;
}
.ok {
  background:url(../images/b-share-icon.png) no-repeat;
  background-position: 0 -170px;
}
.search-form {
  .form-control {
    display: inline;
    border:none;
    width:232px;
    height:24px;
    padding-left:10px;
    font-size: 12px;
    border-radius: 0;
  }
  button {
    background:url(../images/search2.png) no-repeat;
    border:none;
    width:13px;
    height:13px;
    cursor:pointer;
    vertical-align:middle;
    margin-left: -23px;
  }
}
.navbar-nav {
  width: 100%;
  text-align: justify;
  > li {
    display: inline;
    float: none;
    > a {
      display: inline-block;
    }
  }
}
.navbar-nav::after {
  content: "1";
  display: inline-block;
  height: 1px;
  margin-left: 100%;
  overflow: hidden;
}
.navbar {
  .navbar-nav {
    background: linear-gradient(to bottom, #950000, #3d0000);
    height:40px;
    overflow: hidden;
    > li {
      position: relative;
      &:after {
        content: '';
        display: block;
        background:url(../images/nav_border.png) no-repeat right center;
        width: 1px;
        height: 34px;
        position: absolute;
        top: -9px;
        right: 0;
      }
      > a {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size:18px;
        text-decoration:none;
      }
    }
  }
}
footer {
  padding-bottom: 40px;
  color: #fff;
  .navbar-nav {
    > li > a {
      color: #fff;
    }
  }
}
.footer-create {
  text-align: right;
  padding-top: 35px ;
  a {
    color: #fff;
  }
}
.slider {
  height: 233px;
  margin-bottom: 30px;
  .item {
    height: 233px;
  }
}
.sidebar-block {
  border-right:1px solid #400007;
  border-bottom:1px solid #400007;
}
.sidebar-block-head {
  background:url(../images/aside_block_header.png) repeat-x;
  height:32px;
  width:233px;
  padding:3px 0px 0px 20px;
  font-size:16px;
  color:#fff;
  box-shadow:1px -1px 0px rgba(225,225,225,0.5);
}
.sidebar-block-body {
  background:#FFFFFF;
  padding:18px 15px;
}
.cart-icon {
  img {
    float: left;
    margin-right: 5px;
  }
}
.catalog {
  padding: 0 5px 0 10px;
  font-size: 12px;
  > li {
    margin-bottom: 10px;
    > a {
      color: @text-color;
      text-transform: uppercase;
    }
  }
  > li.expanded {
    list-style-image: url(../images/menu-expanded.png);
  }
}
.catalog-detail {
  margin: 5px 0 0 10px;
  > li {
    margin-bottom: 5px;
  }
}
.user-form {
  label {
    &:after {
      content: '*';
      color: #f00;
      margin-left: 2px;
    }
  }
  button {
    padding: 4px 15px;
  }
}
.user-form-link {
  margin-bottom: @line-height-computed;
  a {
    color: @text-color;
    font-size: 12px;
  }
}
.actual-list {
  overflow: hidden;
  img {
    .img-responsive;
  }
  .row {
    float: left;
    > .col-xs-12:nth-of-type(1) {
      padding-right: 7px;
    }
    > .col-xs-12:nth-of-type(2) {
      padding-left: 7px;
    }
  }
}
.actual-item-long {
  position: relative;
}
.actual-list, .carousel .carousel-inner .item {
  .actual-item-date {
    color: #fff;
    background: linear-gradient(to right, @brand-info, #960000);
    padding: 5px 10px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.actual-item-long, .actual-item-small {
  margin-bottom: 15px;
}
.actual-block {
  display: inline-block;
  margin: 0 0 33px;
  min-height: 263px;
  width: 373px;
  font-size: 0;
}
.actual-block-head {
  background:url(../images/good_block_head.png) no-repeat;
  width:373px;
  height:46px;
  padding:9px 0px 0px 28px;
  margin-bottom:4px;
  a {
    color:#fff;
    font-size:18px;
    font-weight:bold;
    text-decoration:none;
  }
}
.actual-block-body {
  width:373px;
  height:217px;
  position:relative;
  font-size: 14px;
}
.main-content {
  padding-left: 0;
}
.frontpage-actions {
  background: #fff;
  //border-radius: 14px;
  padding: 16px 50px 16px 30px;
  margin-bottom: 33px;
  .h2 {
    margin-bottom: @line-height-computed *1.5;
  }
}
.frontpage-actions-item {
  border-bottom: 1px solid #eee;
  padding-bottom: 25px;
  margin-bottom: 25px;
  overflow: hidden;
}
.page-actions-item {
  padding: 15px 0;
  border-bottom: 1px solid #c0c0c0;
  overflow: hidden;
  background-color: #FFE8E7;
}
.frontpage-actions-content {
  .frontpage-actions-title {
    color: @brand-info;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 1px solid rgba(110,0,0,0.5);
  }
  ul {
    padding-left: 15px;
    li {
      color: #575756;
      font-size:12px;
      text-transform: none;
      padding-left: 5px;
      margin-bottom: 8px;
    }
  }
  span div {
    text-transform: none;
  }
  a.btn {
    text-decoration: none;
    margin-top: 36px;
  }
  .product-price-block {
    margin-top: 10px;
  }
  .product-old-price {
    color: #1d1d1b;
    font-size: 14px;
  }
  .product-new-price {
    font-size: 28px;
  }
  .actual-item-date {
    color: #e30613;
    margin-top: 10px;
  }
}
.text-front-description {
  background: #fff;
  //border-top-left-radius: 14px;
  //border-top-right-radius: 14px;
  padding:16px;
  z-index:1000;
  position:relative;
  margin-bottom: 33px;
  h1 {
    margin-bottom: 20px;
  }
}
.about-order {
  border-top: 2px solid #ABABAB;
  margin-top: 30px;
  padding-top:30px;
  margin-bottom: 30px;
  a {
    background:url(../images/mark.png) no-repeat left bottom;
    color:#333;
    padding:5px 0 5px 30px;
    margin-left:20px;
  }
}
.sidebar {
  float: left;
  width: 234px;
}
.front-page {
  .content {
    margin-left: 250px;
  }
}
.inner-page {
  .col-wrapper {
    background: #fff;
  }
  .content {
    margin-left: 233px;
    background: #fff;
    box-shadow:1px -1px 0px rgba(225,225,225,0.5);
  }
  .content-page {
    background: #fff;
    box-shadow:1px -1px 0px rgba(225,225,225,0.5);
  }
}
.breadcrumb, .inner-content-wrap {
  padding-left: 20px;
  padding-right: 20px;
}
.breadcrumb {
  li {
    color: #fff;
    a {
      color: #fff;
    }
  }
}
.inner-content {
  padding: 10px 0 50px;
}
.print-link {
  background: url(../images/print_icon.gif) no-repeat left center;
  padding-left: 22px;
}
.btn-primary {
  background: linear-gradient(to bottom, #950000, #3d0000);
  border: none;
}
.btn-info {
  border: none;
}
.taxonomy-term-description {
  margin: 5px 0 20px;
}
.product-item {
  box-shadow: 0 0 5px #bbb;
  width:228px;
  height:418px;
  padding:20px 18px;
  min-height:382px;
  display: -moz-inline-stack;
  display:inline-block;
  vertical-align: top;
  margin: 0 10px 20px 0;
  zoom: 1;
  *display:inline;
  _min-height:382px;
  position: relative;
}
.product-img {
  text-align:center;
  margin-bottom:10px;
  height:150px;
}
.product-img-inner-list {
  margin:10px 5px 0 5px;
  height:130px;
}
.product-name {
  margin-bottom:10px;
  line-height:125%;
  height:70px;
  overflow:hidden;
}
.product-name a {
  color:#6e0000;
  text-decoration:none;
  line-height:125%;
}
.product-art {
  color:#4d4d4d;
  margin-bottom:10px;
}
.product-price {
  color:#4d4d4d;
  font-size:24px;
  font-weight:bold;
  margin-bottom:10px;
}
.product-link {
  .link-more {
    margin-left: 18px;
  }
  .btn {
    margin-left: 6px;
  }
}
.link-more {
  color:#6e0000;
  font-style:italic;
  &:hover, &:focus {
    color:#6e0000;
  }
}
.pagination-container {
  text-align: center;
}
.product-feedback {
  margin-bottom: 20px;
  a {
    color:#6e0000;
    padding: 5px 0 5px 34px;
    &:hover, &:focus {
      color:#6e0000;
    }
  }
}
.product-consult {
  a {
    background:url(../images/question.png) no-repeat left center;
  }
}
.product-call {
  a {
    background:url(../images/call.png) no-repeat left center;
  }
}
.inner-product-card {
  overflow: hidden;
  .product-link {
    margin: 40px 0 30px;
  }
}
.inner-product-card-info {
  //height: 280px;
  float: left;
  margin-bottom: 50px;
}
.inner-product-card-img {
  //height: 250px;
}
.inner-product-card-descr {
  //.clearfix;
}
.check-in-stock {
  color:#008000;
  background:url(../images/green_check.png) no-repeat bottom left;
  padding-left:25px;
  text-decoration:none;
  margin-left:20px;
}
.check-unavailable {
  color:#a94442;
  text-decoration:none;
  margin-left:20px;
}
.inner-product-card-descr {
  margin: 20px 0 30px 0;
}
.inner-product-annot {
  background:#f3f3f3;
  height:53px;
  padding:7px 0 0 20px;
  margin-bottom:30px;
  p {
    color:#008000;
    margin-bottom:0;
  }
}
.product-analog {
  border-top: 2px solid #ababab;
  padding-top: 10px;
}

.product-catalog-part {
  .product-name {
    height:40px;
  }
  height: 300px;
  min-height: 300px;
}

.row_cart {
  border-bottom:1px solid #cccccc;
  padding: 15px 0;
}

.summary {
  padding:20px 0;
  font-size: 30px;
  #total_cart_price {
    color:#950000;
  }
}

.price-row {
  font-size: 16px;
}

#order_form {
  .form-control {
    margin-bottom: 15px;
  }
}

.btn {
  text-transform: uppercase;
}

.inner-content-wrap {
  padding-bottom: 30px;
}

.inner-product-card-delivery {
  font-size: 12px;
  margin-bottom: 20px;
}

.body-print {
  background-color: #fff;
  padding-top:25px;
  font-size: 16px;

  .panel-order-info {
    margin-top:30px;
  }
  .header-text {
    padding-top: 30px;
  }
}

.modal-content {
  padding: 30px;
  .form-group {
    margin:0 0 15px 0;
  }
}

.modal-header {
  padding:0;
  margin: 20px 0;
}

.modal-title {
  .h2;
}

.form-block {
  padding-bottom:25px;
}
.sign {
  margin: 50px 0;
}
.carousel-indicators {
  bottom: 0;
  li {
    margin-right: 5px;
  }
}
.frontpage-product-list {
  background: #fff;
  padding: 40px 18px;
  margin-bottom: 15px;
  .product-link .link-more {
    margin-left: 18px;
  }
}
.product-label {
  color: #fff;
  margin-left: -18px;
  span {
    position: relative;
    &:before, &:after {
      content: '';
      position: absolute;
      left: 100%;
    }
    &:before {
      border: 14px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 0px solid transparent;
      border-left: 0px solid transparent;
      top: 0;
    }
    &:after {
      border: 14px solid transparent;
      border-bottom: 0px solid transparent;
      border-right: 0px solid transparent;
      bottom: 0;
    }
  }
}
.frontpage-product-title {
  font-size: 18px;
  font-weight: 400;
  margin-top: 0;
}
.label-discount {
  span {
    background: #e40613;
    &:before {
      border-top: 14px solid #e40613;
    }
    &:after {
      border-left: 7px solid #e40613;
    }
  }
}
.label-new {
  span {
    background: #3ba936;
    &:before {
      border-top: 14px solid #3ba936;
    }
    &:after {
      border-left: 7px solid #3ba936;
    }
  }
}
.frontpage-product-list {
  .frontpage-product-group {
    .product-label {
      span {
        padding: 2px 20px;
      }
    }
  }
}
.label-markdown {
  span {
    background: #9c35b8;
    &:before {
      border-top: 14px solid #9c35b8;
    }
    &:after {
      border-left: 7px solid #9c35b8;
    }
  }
}
.frontpage-product-group {
  margin-bottom: 20px;
}
.product-old-price {
  color: #4d4d4d;
  font-size: 12px;
  text-decoration: line-through;
}
.product-new-price {
  color: #e30613;
  font-size: 24px;
  font-weight: 700;
}
.product-price {
  padding-top: 18px;
}
.product-old-price + .product-price {
  padding-top: 0;
}
.product-discount-date {
  color: #e30613;
  font-size: 12px;
}
.product-price-block {
  height: 82px;
}
.product-list {
  .product-item {
    .product-label {
      position: absolute;
      top: 15px;
      left: 18px;
      span {
        font-size: 12px;
        padding: 1px 10px;
      }
    }
  }
}
.inner-product-descr {
  margin-bottom: 40px;
}
.inner-product-card-img {
  .product-label {
    margin: 0 0 15px 0;
    span {
      font-size: 12px;
      padding: 1px 10px;
    }
  }
}
.markdown-reasons {
  color: #960000;
  margin-top: 25px;
}
.markdown-reasons-title {
  font-size: 12px;
  font-weight: 700;
}

.btn-controls, .dish-order-number, .add-dish-btn {
  float: left;
  position: relative;
  margin-right: 5px;
}

.dish-order-number {
  border-top: 1px solid inherit;
  border-left: none;
  border-right: none;
  border-radius: 0;
  box-shadow: none;
  color: #1b1b1d;
  font-size: 14px;
  padding: 6px 8px;
  text-align: center;
  width: 38px;
  height:31px;
}

.user-room-bonus-links {
  a {
    margin-right: 15px;
    color:#fff;
    font-weight: bold;
  }
}

.nav-tabs {
  li.active {
    a {
      color:#fff;
      text-decoration: none;
    }
  }
}
                                                      /*Cart page*/
.cart {
  background: #fff;
  padding: 10px 30px 120px;
}
.cart-img {
  img {
    .img-responsive;
  }
}
.cart-pos-sum {
  font-size: 16px;
}
.cart-pos {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.cart-total {
  padding: 30px 0;
  dl {
    dt {
      font-weight: 400;
      text-align: left;
    }
    dt, dd {
      line-height: 40px;
    }
  }
}
.cart-total-sum {
  font-size: 18px;
  padding: 15px;
  dl {
    span {
      color: @brand-info;
      font-size: 26px;
      font-weight: 700;
    }
  }
  form {
    label {
      font-size: 14px;
      font-weight: 400;
    }
    input {
      vertical-align: -3px;
    }
  }
}
.bonus-balance {
  background: #f0f0f0;
  padding: 25px 30px 15px;
}
.bonus-price {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 15px;
}
.bonus-sum {
  color: @brand-info;
}
.bonus-balance-item {
  margin-bottom: 15px;
}
.cart-delivery-var-list {
  margin-bottom: 30px;
  > span {
    color: @link-color;
    border-bottom: 1px dashed lighten(@link-hover-color, 35%);
    cursor: pointer;
    margin-bottom: 10px;
  }
  form {
    label {
      font-weight: 400;
    }
    input {
      vertical-align: -3px;
    }
  }
}
.cart-delivery-var-item {
  border-bottom: 1px solid #ccc;
  padding: 12px 0;
}
.cart-order {
  form {
    .help-block {
      color: @link-color;
      font-size: 14px;
    }
  }
}
.cart-payment-info {
  ul {
    padding-left: 15px;
  }
}
.cart-tel {
  font-weight: 700;
}

.delivery-warning {
  margin-top:10px;
  font-style: italic;
  span {
    font-weight: bold;
  }
}